/* @import "bootstrap"; */

@import "animations.css";
:root {
  --accent-color: var(--bcwColor-pink);
  --accent-color-dark: var(--myColor-teal);
  --accent-color-text: black;
  --accent-color-button: black;
}

:root {
  --bcwColor-green: #55EFC4;
  --bcwColor-pink: #FF7675;
  --myColor-aqua: #82dddd;
  --myColor-lime: #b5d333;
  --myColor-teal: #42646b;
  --myColor-yellow: #c8a355;
  --myColor-charcoal: #807e81;
  --myColor-smoky-blue: #98a6b3;
  --myColor-purple: #60323f;
  --myColor-brown: #5b4a40;
  --myColor-dark: rgb(41, 36, 36);
}

:root {
  --viewport-padding-x: 3em;
  --viewport-padding-y: 3em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button:focus {
  outline: none !important;
  cursor: pointer !important;
}

.viewport {
  position: fixed;
  top: var(--nav-height);
  left: 0;
  height: calc(100% - var(--nav-height));
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: var(--viewport-padding-x);
  padding-left: var(--viewport-padding-x);
  padding-top: var(--viewport-padding-y);
}

.viewport.pinch {
  padding-right: calc(var(--viewport-padding-x) - 8px);
  padding-left: calc(var(--viewport-padding-x) - 8px);
}

.masonry-2, .masonry-5, .masonry-6 {
  column-gap: 1em;
}

.masonry-2 {
  column-count: 2;
}

.masonry-4 {
  column-count: 4;
  column-gap: 3em;
}

.masonry-5 {
  column-count: 5;
}

.masonry-6 {
  column-count: 6;
}

.in-container {
  margin-left: -15px;
  margin-right: -15px;
}

.shake {
  animation: shake .5s linear 0s infinite normal;
}

.no-stretch {
  align-items: flex-start;
}

/* .loader-page {
  position: relative;
  width: 25%;
  height: 25%;
} */

.loader-page-container {
  --split: 100%;
  --transition-time: .5s;
  --animation-time: 1s;
}

.loader-page-container.showMessage {
  --split: 70%;
}

.loader-page-spinner, .loader-page-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--split);
  transition: all var(--transition-time);
}

.loader-page-message {
  position: absolute;
  top: var(--split);
  left: 0;
  width: 100%;
  height: calc(100% - var(--split));
  transition: all var(--transition-time);
  font-size: 300%;
  opacity: 0;
}

.loader-page-container.showMessage .loader-page-message {
  opacity: 1;
}

.loader-page-spinner {
  font-size: 50vh;
}

.loader-page-logo {
  font-size: 25vh;
  color: white
}

.loader-page-spinner.animate-in {
  animation: pageLoad-spinner var(--animation-time) 1 ease-in-out normal;
}

.loader-page-logo.animate-in {
  animation: pageLoad-logo var(--animation-time) 1 ease-in-out normal;
}

.loader-page-spinner.animate-out {
  animation: pageLoad-spinner var(--animation-time) 1 ease-in-out reverse;
  font-size: 0;
}

.loader-page-logo.animate-out {
  animation: pageLoad-logo var(--animation-time) 1 ease-in-out reverse;
  font-size: 0;
}