@import "global.css";
@import "keep.css";
#profile-picture {
  width: 10em;
  height: 10em;
  border-radius: 10px;
}

.profile-button-add {
  color: var(--accent-color);
  font-size: 1.5em;
  width: 2em;
  height: 2em;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 10px;
}

.profile-button-add:hover {
  color: white;
  background-color: var(--accent-color);
  cursor: pointer;
}

.profile-button-add:focus {
  outline: none;
}

.profile-col-vaults {
  padding-left: .5em !important;
  padding-right: .5em !important;
}

#profile-row-vaults {
  min-height: 12em;
  padding-left: .5em;
  padding-right: .5em;
}

#profile-row-keeps {
  padding-left: .5em;
  padding-right: .5em
}

.profile-loading {
  height: 10em;
  margin-bottom: 1em;
}

.profile-loading i {
  font-size: 250%;
}